* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    margin-left: 18%;
}

nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    position: absolute;
    right: 22%;
}

.navbar {
    margin-left: 10%;
    color: black;
    text-decoration: none;
}

#blog-navbar {
    color: blue;
}

main {
    background-color: white;
}
