.main-contact{
    text-align: left;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 40px;
    background-color: rgba(206, 183, 183, 0.673);
    border-radius: 7px;
    box-shadow: 0px 12px 30px grey;
}
.titre1-contact{
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Abril Fatface', sans-serif;
}
form{
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
form>*{
    margin-bottom: 7px;
}
.bouton-contact{
    text-align: center;
}
.element-contact{
    text-align: left;
    margin-left: 75px;
}
.submit-contact{
    margin-left: 160px;
    margin-right: 160px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.main-a-propos{
    display: flex;
    flex-direction:column;
    text-align: left;
    width: 990px;
    margin-left: 260px;
    font-family: 'Montserrat', sans-serif;
}
.titre1-a-propos{
    text-align: center;
    font-family: 'Abril Fatface', sans-serif;
    color: rgb(0, 0, 97);
}
.titre2-a-propos{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 97);
}
li{margin-bottom: 5px;
    margin-left: 10px;
}
.bouton-a-propos{
text-align: center;
}
.MLT-contact{
    width: 140px;
    margin-left: 388px;

}
.TLM-contact{
   
    margin-left: 150px;
    height: 2px;
    width: 2px;
    margin-top: 60px;
}
.MLT-a-propos{
    width: 140px;
    margin-left: 388px;

}
.TLM-a-propos{
   
    margin-left: 150px;
    height: 2px;
    width: 2px;
    margin-top: 15px;
}