* {
    margin: 0;
    padding: 0;
    
}


.logo {
    width:120px;
    
    
}
header {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    margin-left: 25%;
    
}

nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    position: absolute;
    right: 40%;
    /* overflow: hidden; */
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 9px;
}

.navbar {
    margin-left: 25%;
    color: rgb(87, 87, 87);
    text-decoration: none;
}

.navbar-apropos {
    margin-left: 15%;
    margin-right: 10%;
}

#blog-navbar {
    color: blue;
}



.main-contact{
    text-align: left;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 40px;
    background-color: rgba(206, 183, 183, 0.673);
    border-radius: 7px;
    box-shadow: 0px 12px 30px grey;
}
body {
    margin: 10px;
    border: 2px solid black ;
    height: 1000px;
    border-radius: 0px;
    box-shadow: -1px -1px 13px rgb(156, 155, 155);
    background-color: white;;

     }

.titre1-contact{
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Abril Fatface', sans-serif;
}
form{
    font-family: 'Montserrat', sans-serif;
   
}
form>*{
    margin-bottom: 7px;
}
.bouton-contact{
    text-align: center;
}
.element-contact{
    margin-left: 50px;
    
}
.submit-contact{
    margin-left: 200px;
    margin-right: 160px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.main-a-propos{
    text-align: left;
    margin-left: 320px;
    margin-right: 349px;
    font-family: 'Montserrat', sans-serif;
}
.titre1-a-propos{
    text-align: center;
    font-family: 'Abril Fatface', sans-serif;
}
.titre2-a-propos{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: 'Abril Fatface', sans-serif;
}
li{margin-bottom: 5px;
    margin-left: 10px;
}
.bouton-a-propos{
text-align: center;
}
.MLT-contact{
    width: 140px;
    margin-left: 370px;

}
.TLM-contact{
   
    margin-left: 150px;
    height: 2px;
    width: 2px;
    margin-top: 60px;
}


#Prenom {
    margin-left: 20px;
    width: 256px;
}
#Nom {
    margin-left: 45px;
 width: 256px;
}
#Email {
    margin-left: 40px;
    width: 255px;
}

textarea {
    margin-left: 50px;
    width: 350px;
}