* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    margin-left: 18%;
}

nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    position: absolute;
    right: 40%;
    /* overflow: hidden; */
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navbar {
    margin-left: 25%;
    color: rgb(87, 87, 87);
    text-decoration: none;
}

.navbar-apropos {
    margin-left: 15%;
    margin-right: 10%;
}

#blog-navbar {
    color: blue;
}

main {
    background-color: white;
}